<div>
  <h3>Participant</h3>
  <div class="spacer-2"></div>
  <div class="width-full">
    <form [formGroup]="participantForm" novalidate #form autocomplete="off">
      <div class="form-container">
        <label for="label">Email</label>
        <input type="email" name="email" formControlName="email" id="email" />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-error-message">
          <div *ngIf="email.errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="email.errors?.['pattern']">
            Wrong email format
          </div>
        </div>
      </div>
      <div class="spacer-2"></div>
      <div class="flex flex-wrap" formArrayName="browsers">
        <div class="width-half" *ngFor="let browser of browsers.controls; index as i" [formGroupName]="i">
          <div class="form-container checkbox flex items-center">
            <input type="checkbox" name="browser{{i}}" formControlName="state">
            <label for="browser{{i}}" class="checkbox">{{browsersList[i].name}}</label>
          </div>
        </div>
      </div>
      <div class="spacer-2"></div>
      <div class="form-container">
        <label for="instructions">Special instructions</label>
        <textarea name="instructions" name="instructions" formControlName="instructions" id="instructions"
          rows="4"></textarea>
      </div>
    </form>
    <div class="btn-group">
      <button class="" data-listener="off" (click)="onSaveTester()" [disabled]="submitInProgress || participantForm.invalid"
        >
        <span>Save</span>
      </button>
      <button class="btn-danger" data-listener="off" (click)="onCancel()" [disabled]="submitInProgress">
        <span>Cancel</span>
      </button>
    </div>
  </div>
</div>
