<div class="flex no-wrap">
  <div class="card width">
    <app-search-event (eventEmit)="onEventFound($event)"></app-search-event>
  </div>
  <div class="card flex flex-center">
    <a [routerLink]="['../create']" [skipLocationChange]="true" 
    class="nav-menu-btn icon-btn"  
    data-title="Create Event"
>
 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"/><line x1="12" y1="8" x2="12" y2="16"/><line x1="8" y1="12" x2="16" y2="12"/></svg>
</a>
  </div>

</div>
<div class="card">
  <h3>Events</h3>
  <ul>
    <li>Total cases ....  20</li>
    <li>Executed times ....  200</li>
    <li>Total steps ....  200</li>
    <li>Average execution time</li>
    <li>Recent executed</li>
    <li>Most executed</li>
    <li>Total failed steps</li>
  </ul>
</div>
