<div class=" width-sm margin-auto">
  <div class="card no-left-margin">
    <div class="spacer-1"></div>
    <h3>Login</h3>
    <div class="spacer-1"></div>
    <div class="width-full">
      <form [formGroup]="loginForm" novalidate #form autocomplete="off">
        <div class="form-container">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-error-message">
            <div *ngIf="email.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="email.errors?.['pattern']">
              Wrong email format
            </div>
          </div>
        </div>
        <div class="spacer-2"></div>
        <div class="form-container">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-error-message">
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
          </div>
        </div>
      </form>
      <div class="btn-group">
        <button class="" data-listener="off" (click)="onSubmit()">
          <span>Submit</span>
        </button>
      </div>
    </div>
  </div>
  <div class="link-group flex justify-end">
    <a [routerLink]="['../forgot-password']" [skipLocationChange]="true">Forgot Password</a>
    <a [routerLink]="['../registration']" [skipLocationChange]="true">Registration</a>
  </div>
</div>
