
<ng-container *ngIf="testCase?.title">
    <div class="case-title">
        <span class="title-sm ">Case title: </span>
        <span >{{testCase.title}}</span>
        <app-more-button-menu [actions]="actions" (onAction)="onAction($event)"></app-more-button-menu>
    </div>
</ng-container>

<app-modal *ngIf="isCaseTitleModalOn" (closeModal)="toggleAddTestCaseModal()">
    <app-create-case-title (cancel)="onCreateCancel()" (onTestCaseTitleSaved)="onTestCaseTitleSaved($event)" [testCase]="testCaseToEdit"></app-create-case-title>
</app-modal>
