<ng-container *ngIf="!testCase?.title">
    <div class="flex justify-end">
        <button (click)="toggleAddTestCaseModal()" class="ui-br-ext-btn-link">Add case title</button>
    </div>
</ng-container>
<ng-container *ngIf="testCase?.title">
    <div class="ui-uat-ext-case-title">
        <span class="ui-uat-ext-title ">Case title: </span>
        <span >{{testCase.title}}</span>
        <app-more-button-menu [actions]="actions" (onAction)="onAction($event)"></app-more-button-menu>
    </div>
</ng-container>

<app-modal *ngIf="isCaseTitleModalOn" (closeModal)="toggleAddTestCaseModal()">
    <app-create-case-title (cancel)="toggleAddTestCaseModal()" [testCase]="testCaseToEdit"></app-create-case-title>
</app-modal>
