<ng-container *ngIf="event?.title">
  <div>
    <!-- <div class="card "> -->
      <div class="case-title flex items-center">
        <span class="title-sm ">Event title: </span>
        <span>{{event.title}}</span>
        <app-more-button-menu [actions]="actions" (onAction)="onAction($event)"></app-more-button-menu>
      </div>
    <!-- </div> -->
  </div>
</ng-container>

<app-modal *ngIf="isEventTitleModalOn" (closeModal)="onCreateCancel()">
  <app-create-event-title 
    (cancel)="onCreateCancel()" 
    (onEventTitleSaved)="onEventTitleSaved($event)"
    [event]="eventToEdit">
  </app-create-event-title>
</app-modal>