.card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
    //border: 1px solid var(--text-lightest);
    border-radius: 6px;
    padding: 20px 20px;
    margin-bottom: 20px;
    background-color: #ffffff;

    &:not(:last-child){
        margin-right: 20px;
    }

    h3 {
        margin-top: 0;
        color: var(--primary);
    }
 
    /* &:hover:not(:disabled) {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
        .card-icon {
            margin-top:-1px;
            svg {
                color: #4fc159;
            }
        }
        .card-content {
            margin-top:-1px;
        }
    } */
    .card-icon {
        svg {
            height: 60px;
            width: 60px;
            color: #85d18c;
        }
    }
    .card-content {
        padding-left: 16px;
        font-size: 15px;
        line-height: 21px;

        .card-title {
            color: #00ad55;
            margin: 5px 0;
            font-size: 18px;
        }
    }

    &.no-left-margin {
        margin-right: 0;
    }
}