.ui-br-ext-extension {   
    .ui-uat-ext-drop-menu {
        width: 29px; 
        position: relative;
        .ui-uat-svg-icon.active {
            svg {
                color: #00ad55;
                transform: scale(1.2);
            }
        }
        .ui-uat-ext-drop-menu-body {
            position: absolute;
            background-color: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            top: 20px;
            right: 0;
            border-radius: 3px;
            width: max-content;
            z-index: 100;
            &.left {
                left: 0;
                right: initial;
            }

            &.top {
                bottom: 25px;
                top: initial;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    padding: 8px 16px;
                    cursor: pointer;
                    &:not(:only-child){
                        &:hover {
                            background-color: #f1f1f1;
                        }
                    }
                }
            }
        }
    }
}