
.main-container {
  .left-navigation {
    height: 60px;
    width: 100%;
    padding-bottom: 12px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: initial;
    display: flex;
    align-items: end;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px, rgba(0, 0, 0, 0.23) 0px 0px 6px;
    box-sizing: border-box;

    h2, h3 {
      margin: 0;
      color: var(--primary);
    }
    .container {
      padding-right: 0;
    }
  }
  
  .main-content-wrap {
    padding-block: 80px;

    .header {
      height: 40px;
      background-color: #ffffff;
      //border-bottom: 1px solid var(--primary-hover);
      display: flex;
      align-items: center;
      padding-top: 14px;
      h3, h2 {
        //width: 100%;
        flex-grow: 1;
      }

      .form-container {
        max-width: 40%;
        margin-inline: 20px;
        box-sizing: border-box;
      }
    }
  
    .content {
      padding-top: 40px;
    }
  }
  .container {
    padding: 0 16px;
    max-width: 1000px;
    box-sizing: border-box;
    margin-inline: auto;
    width: 100%;
  }
  
  app-extension {
    width: 100%;
  }

}