
.main-container {
  .left-navigation {
    width: 100%;
    max-width: 54px;
    background-color: #ffffff;
    box-shadow: 5px 0 5px -5px #d9dbd8;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  
  .main-content-wrap {
    width: 100%;
    padding-top: 60px;
    padding-left: 54px;
  
    .header {
      height: 60px;
      background-color: #ffffff;
      box-shadow: 0 5px 5px -5px #d9dbd8;
      position: fixed;
      left: 52px;
      top: 0;
      right: 0;
    }
  
    .main-section {
      height: 2000px;
      padding: 16px;
    }
  }
}