
<div class="ui-br-ext-width-full">
    <div class="ui-br-ext-form-container ui-br-ext-textarea">
        <label for="label">Test case title</label>
        <input type="text" name="label" [(ngModel)]="title" (ngModelChange)="titleSearch.next($event)"/>
        <span class="ui-br-ext-search-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#00ad55" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>
        </span >
        <div class="ui-br-ext-search-results" *ngIf="testCases && testCases.length > 0">
            <ul>
                <li *ngFor="let testCase of testCases; index as i" [ngClass]="{'ui-br-ext-hide': testCase.testCaseId == testCaseId}">
                    <span class="ui-br-ext-module-label" (click)="onImport(testCase)">{{testCase.title}}</span>
                    <span class="ui-br-ext-spinner" [ngClass]="submitInProgress == testCase.testCaseId ? 'active' : ''"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="ui-br-ext-btn-group">
        <button class="ui-br-ext-btn-danger"  data-listener="off" (click)="onCancel()">
            <span>Cancel</span> 
        </button>
    </div>
</div>
