<!--  -->
<div class="ui-br-ext-extension ui-br-ext-alwaysOn" id="ui-br-ext-extension" style="outline: none !important;" [ngStyle]="{'display': hideExtension ? 'none' : 'block'}">
    <app-menu></app-menu>
    <div class="ui-br-ext-container ui-br-ext-dropdown"
    [ngClass]="{'ui-br-uat-editor': activeBtn == 'ui-br-ext-editor-button'}"
    [ngSwitch]="activeBtn"
    >
        <app-dashboard *ngSwitchCase="'ui-br-ext-dashboard-button'"></app-dashboard>
        <app-editor *ngSwitchCase="'ui-br-ext-editor-button'"></app-editor>
        <app-events-page *ngSwitchCase="'ui-br-ext-event-button'"></app-events-page>
        <app-create-case *ngSwitchCase="'ui-br-ext-create-button'"></app-create-case>
        <app-execute-page *ngSwitchCase="'ui-br-ext-execute-button'"></app-execute-page>
        <app-search-page *ngSwitchCase="'ui-br-ext-search-button'"></app-search-page>
        <app-settings-page  *ngSwitchCase="'ui-br-ext-settings-button'"></app-settings-page>
        <app-forgot-password *ngSwitchCase="'ui-br-ext-forgot-password'"></app-forgot-password>
        <app-registration *ngSwitchCase="'ui-br-ext-registration'"></app-registration>
        <app-login *ngSwitchCase="'ui-br-ext-login'"></app-login>
        <div *ngSwitchDefault class="ez-bug-hidden-page"></div>
    </div>
    
</div>