.flex { display: flex }

.flex-column  { flex-direction: column }
.flex-wrap    { flex-wrap: wrap }

.flex-center {
  align-items: center;
  justify-content: center;
}

.items-center   { align-items: center }
.items-baseline { align-items: baseline }
.items-stretch  { align-items: stretch }
.items-start    { align-items: flex-start }
.items-end      { align-items: flex-end }

.item-center   { align-self: center }
.item-baseline { align-self: baseline }
.item-stretch  { align-self: stretch }
.item-start    { align-self: flex-start }
.item-end      { align-self: flex-end }

.justify-center {justify-content: center}
.justify-end {justify-content: flex-end}
.justify-start {justify-content: flex-start}
.justify-between {justify-content: space-between}


.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}
.flex-grow { flex: 1 0 auto }
.flex-none { flex: none }

.flex-first { order: -1 }
.flex-last  { order: 99999 }

.no-wrap {
  flex-wrap: nowrap;
}

.height {
  height: 100%;
}



