

.width-full {
    width: 100% !important;
}
.width-initial {
    width: initial !important;
}
@media (min-width: 768px) {
    .width-half {
        width: 100%;
        max-width: 50% !important;
    }
    .width-33 {
        width: 100%;
        max-width: 33% !important;
    }
    .width-25 {
        width: 100%;
        max-width: 25% !important;
    }

    .width-max7 {
        width: 100%;
        max-width: 700px !important;
    }

    .margin-auto {
        margin-inline: auto;
    }
}