<div>
  <div class="spacer-1"></div>
  <h3>Update name</h3>
  <div class="spacer-1"></div>
  <div class="width-full">
    <form [formGroup]="passwordForm" novalidate #form autocomplete="off">
      <div class="form-container">
        <label for="oldPassword">Old password:</label>
        <input type="password" id="oldPassword" formControlName="oldPassword">
        <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="form-error-message">
          <div *ngIf="oldPassword.errors?.['required']">
            Old password is required.
          </div>
        </div>
      </div>
      <div class="spacer-2"></div>
      <div class="form-container">
        <label for="newPassword">New password:</label>
        <input type="password" id="newPassword" formControlName="newPassword">
        <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="form-error-message">
          <div *ngIf="newPassword.errors?.['required']">
            New password is required.
          </div>
          <div *ngIf="newPassword.errors?.['pattern']">
            Password should be minimum eight characters long, contain at least one uppercase letter, one number and one
            special character.
          </div>
        </div>
      </div>
      <div class="spacer-2"></div>
      <div class="form-container">
        <label for="confirmPassword">Confirm new password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
          class="form-error-message">
          <div *ngIf="confirmPassword.errors?.['required']">
            Confirm new password required.
          </div>
          <div *ngIf="confirmPassword.errors?.['passwordMatch']">
            New passwords don't match.
          </div>
        </div>
      </div>
    </form>
    <div class="btn-group">
      <button class="" data-listener="off" (click)="onSubmit()">
        <span>Submit</span>
      </button>
      <button class="btn-danger" data-listener="off" (click)="onCancel()">
        <span>Cancel</span>
      </button>
    </div>
  </div>
</div>
