<div class="ui-br-ext-form-container">
    <h3>Case title</h3>
    <div class="ui-br-ext-width-full">
        <div class="ui-br-ext-form-container ui-br-ext-textarea">
            <label for="label">Title</label>
            <input type="text" name="label" [(ngModel)]="testCase.title" />
            <span class="ui-br-ext-message">
                <span *ngFor="let error of formError.title; index as i">{{error}}</span>
            </span>
        </div>
        <div class="ui-br-ext-btn-group">
            <button class="ui-br-ext-btn"  data-listener="off" (click)="onSaveTestCase()" [disabled]="submitInProgress">
                <span class="ui-br-ext-spinner" [ngClass]="{'active': submitInProgress}"></span>
                <span>Save</span> 
            </button>
            <button class="ui-br-ext-btn-danger"  data-listener="off" (click)="onCancel()" [disabled]="submitInProgress">
                <span class="ui-br-ext-spinner"></span>
                <span>Cancel</span> 
            </button>
        </div>
    </div>
</div>